@model simpleCommerce_Models.ViewModels.HomePageVM
@{
    ViewData["Title"] = "Home Page";
}
<style>
.owl-carousel {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}
</style>

	<!-- ================ category section start ================= -->		  
  <section class="section-margin--small mb-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
          <div class="sidebar-categories">
            <div class="head">Browse Categories</div>
            <ul class="main-categories">
              <li class="common-filter">
                <form action="#">
                  <ul>
                    @if (Model.Categories != null)
                    {
                        @foreach (var item in Model.Categories)
                        {
                            @if(item.Id==Model.FilterProperties.CategoryId)
                            {
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="@item.Id" name="category" checked><label for="@item.Id">@item.Name</label></li>
                            }
                            else
                            {
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="@item.Id" name="category"><label for="@item.Id">@item.Name</label></li>
                            }
                        }
                    }
                    else
                    {
                        <li class="filter-list"><input class="pixel-radio" type="radio" id="@Guid.Empty" name="category" checked><label for="@Guid.Empty">All</label></li>
                    }

                    </ul>
                </form>
              </li>
            </ul>
          </div>
          <div class="sidebar-filter">
            <div class="top-filter-head">Product Filters</div>
            <div class="common-filter">
              <div class="head">Brands</div>
              <form action="#">
                  <ul>
                    @if (Model.Tags != null)
                    {
                        @foreach (var item in Model.Tags)
                        {
                            @if(item.TagId==Model.FilterProperties.CategoryId)
                            {
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="@item.TagId" name="tag" checked><label for="@item.TagId">@item.Name</label></li>
                            }
                            else
                            {
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="@item.TagId" name="tag"><label for="@item.TagId">@item.Name</label></li>
                            }
                        }
                    }
                    else
                    {
                        <li class="filter-list"><input class="pixel-radio" type="radio" id="@Guid.Empty" name="tag" checked><label for="@Guid.Empty">All</label></li>
                    }

                    </ul>
              </form>
            </div>
            <div class="common-filter">
              <div class="head">Price</div>
              <div class="price-range-area">
                <div id="price-range"></div>
                <div class="value-wrapper d-flex">
                  <div class="price">Price:</div>
                  <div id="lower-value"></div>
                  <span>₺</span>

                  <div class="to">to</div>
                  
                  <div id="upper-value"></div>
                  <span>₺</span>
                </div>
              </div>
              <button class="primary-default-btn my-2" id="applyFilter" style="width:100%;">Apply Filter</button>
            </div>
          </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
          <!-- Start Filter Bar -->
          <div class="filter-bar d-flex flex-wrap align-items-center">
            <div class="sorting">
              <select id="sortingSelect">
                <option value="0">Default Sorting</option>
                <option value="1">Lowest to Highest Price</option>
                <option value="2">Highest to Lowest Price</option>
              </select>
            </div>
            <div>
              <div class="input-group filter-bar-search">
                <input type="text" id="productSearch" placeholder="Search" value="@if(!String.IsNullOrEmpty(Model.FilterProperties.SearchText)){@Model.FilterProperties.SearchText}">
                <div class="input-group-append">
                  <button id="searchButton" type="button"><i class="ti-search"></i></button>
                </div>
              </div>
            </div>
          </div>
          <!-- End Filter Bar -->
          <!-- Start Best Seller -->
          <section class="lattest-product-area pb-40 category-list">
            <div class="row">
            <!--Product Cards-->
                        @if (Model.Products != null)
                        {
                            @foreach (var item in Model.Products)
                            {
                                <div class="col-md-6 col-lg-4">
                                    <div class="card text-center card-product">
                                        <div class="card-product__img">
                                            <img class="card-img" src="@item.Picture" alt="Foolish Developer">
                                            <ul class="card-product__imgOverlay">
                                                @if (!User.Identity.IsAuthenticated)
				                                {
                                                    <li><a asp-area="Identity" asp-page="/Account/Login" style="width:inherit;"><i class="ti-shopping-cart"></i></a></li>
                                                }
                                                else
                                                {
                                                    <li><button onclick="addItemtoCart('@item.ProductId');"  style="width:inherit;"><i class="ti-shopping-cart"></i></button></li>
                                                }
                                            </ul>
                                        </div>
                                        <div class="card-body">
                                            <p>@item.CategoryName</p>
                                            <h4 class="card-product__title"><a asp-controller="Home" asp-action="SingleProduct" asp-route-productId=@item.ProductId>@item.ProductName</a></h4>
                                            <p class="card-product__price">@item.Price₺</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        <!--Product Cards Ends-->
            </div>
          </section>
          <!-- End Best Seller -->
        </div>
      </div>
    </div>
  </section>
	<!-- ================ category section end ================= -->		  

@section Scripts {
    <script asp-append-version="true" src="~/aroma/vendors/nouislider/nouislider.min.js"></script>
    <script src="~/aroma/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="~/js/homePage.js" asp-append-version="true"></script>
    <script>
    
    </script>
}